@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
body {
    background: black;
}
h1{
    color: beige;
    text-align: center;
}
p{
    color:aliceblue;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}