/* styles.css */

body {
    font-family: Arial, sans-serif;
}
body {
    background-image: url(maincar2.jpg); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat; /* Prevent repeating of the image */
    background-attachment: fixed; /* Keep the image fixed even when scrolling */
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-weight: bold;
}
